<footer class="body-s w-full py-3 text-center">
  Challenge by <a href="https://frontendmentor.io">Frontend Mentor</a>. Made by <a
    href="https://frilly.dev/">Tsukimi</a
  >.
</footer>

<style lang="sass">
  a
    @apply text-blue hover:text-dark-electric-blue underline
</style>
