---
import { Image } from "astro:assets";
import manEating from "../assets/image-man-eating.webp";
import PatternLeftCurve from "./icons/PatternLeftCurve.astro";
---

<section
  class="flex flex-col gap-12 md:-translate-x-10 md:flex-row md:items-center md:gap-16 xl:translate-x-0 xl:items-end xl:gap-32 xl:px-32"
>
  <!-- Contain the image or it uses original width and overflows everything. -->
  <div>
    <Image
      src={manEating}
      alt="Image of a smiling man eating sushi"
      class="object-contain"
    />
  </div>

  <div class="flex w-full flex-col gap-8 px-6">
    <div class="hidden w-full justify-end px-10 xl:flex">
      <PatternLeftCurve />
    </div>

    <h2 class="heading-l text-[2rem] xl:text-[3rem]">
      What your BMI result means
    </h2>
    <p class="body-m text-balance text-dark-electric-blue">
      A BMI range of 18.5 to 24.9 is considered a 'healthy weight.' Maintaining
      a healthy weight may lower your chances of experiencing health issues
      later on, such as obesity and type 2 diabetes. Aim for a nutritious diet
      with reduced fat and sugar content, incorporating ample fruits and
      vegetables. Additionally, strive for regular physical activity, ideally
      about 30 minutes daily for five days a week.
    </p>
  </div>
</section>
