---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import hero from "../data/hero";
import Calculator from "./calculator/Calculator.vue";
---

<section
  class="flex w-full flex-col items-center gap-6 px-6 py-8 xl:items-start xl:px-32"
>
  <Image src={logo} alt="Logo of this app" class="size-10 xl:mt-8 xl:size-16" />

  <div class="flex flex-col gap-12 xl:flex-row xl:gap-8">
    <div
      class="flex h-fit w-full flex-col items-center justify-start gap-6 xl:translate-y-1/2"
    >
      <h1 class="heading-l xl:heading-xl w-full text-center xl:text-left">
        Body Mass<br />Index<br class="md:hidden" /> Calculator
      </h1>
      <p
        class="body-m w-full text-balance text-center text-dark-electric-blue xl:text-left"
      >
        {hero.body}
      </p>
    </div>

    <Calculator client:load />
  </div>

  <div class="gradient-bg"></div>
</section>

<style>
  .gradient-bg {
    border-radius: 0rem 0rem 2.1875rem 2.1875rem;
    background: linear-gradient(
      290deg,
      #d6e6fe 0%,
      rgba(214, 252, 254, 0) 100%
    );
    @apply absolute left-0 top-0 -z-10 size-[40rem] w-full;
  }

  @media (min-width: 1280px) {
    .gradient-bg {
      border-radius: 0rem 0rem 2.1875rem 2.1875rem;
      @apply left-6 size-[46rem] w-2/3;
    }
  }
</style>
